@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p><a href="https://github.com/TkachenkoEv/PogodaArchive"></a>Ссылка на проект</p>
</div>
